html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(225, 243, 255);
  font-size: 16px;
}
.content {
  min-height: 100vh;
  margin-top: -5vh;
}
.content-inside {
  padding-bottom: 50px;
  
}

#sideNavs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#manageDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}