.folderNav {
    color: black;
    z-index: 3;
    height: 100vh;
    background-color: rgb(146, 211, 255);
    display: block;
    width: 10%;
    padding-top: 5vh;
    border-left: solid 2px rgb(100, 100, 100);
    
}

.folderNav li {
    list-style: none;
    text-align: left;
}