#entriesTableDiv {
    height: 92vh;
    border: solid 2px black;
    margin-top: 4vh;
    position: absolute;
    right: 4vw;
    width: 30vw;
    top: 0vh;
}

#entriesTable {
    width: 100%;
}

#scoreCells {
    width: 20%;
    border: solid 2px black;
}

#entryCells {
    border: solid 2px black;

}

.entry{
    width: 80%;
}

.score{
    width: 20%;
    text-align: center;
}

.manageTable{
    width: 100%;
}