#entryTest {
    height: 3vh;
    border: none;
    margin-top: 4vh;
    position: absolute;
    left: 17.2vw;
    width: 60vw;
    top: 0vh;
    border-radius: 3px;
    padding: 5px;
}

#defTest:focus, #entryTest:focus {
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
}

#status {
    height: 4.4%;
    border: none;
    position: absolute;
    left: 79.2vw;
    width: 18.6vw;
    top: 4vh;
    border-radius: 3px;
    text-align: center;
    border: solid 3px;
    background-color: white;
}

#status h3 {
    margin: 0px;
}

#defTest {
    height: 76vh;
    border: none;
    position: absolute;
    left: 17.2vw;
    width: 38.9vw;
    top: 11vh;
    border-radius: 3px;
    padding: 5px;
}

#answerBox {
    height: 76vh;
    border: none;
    position: absolute;
    left: 58.3vw;
    width: 38.9vw;
    top: 11vh;
    border-radius: 3px;
    padding: 5px;
    pointer-events: none;
}

#nextButton {
    border: none;
    width: auto;
    position: absolute;
    left: 89%;
    overflow: hidden;
    height: 4vh;
    top: 91.55vh;
    border-radius: 3px;
    background-color:rgb(199, 233, 255);
    cursor: pointer;
    outline: none;
}

#prevButton {
    border: none;
    width: auto;
    position: absolute;
    left: 80%;
    overflow: hidden;
    height: 4vh;
    top: 91.55vh;
    border-radius: 3px;
    background-color:rgb(199, 233, 255);
    cursor: pointer;
    outline: none;
}

#checkButton {
    border: none;
    width: auto;
    position: absolute;
    left: 72.58%;
    overflow: hidden;
    height: 4vh;
    top: 91.55vh;
    border-radius: 3px;
    background-color:rgb(199, 233, 255);
    cursor: pointer;
    outline: none;
}

#testScore {
    border: none;
    top: 4vh;
    border-radius: 3px;
    text-align: center;
    border: solid 3px white;
    background-color: white ;
    top: 91.55vh;
    left: 20%;
    position: absolute;
    padding: 0px 10px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#entScore {
    border: none;
    padding: 0px 10px;
    top: 4vh;
    border-radius: 3px;
    text-align: center;
    border: solid 3px white;
    background-color: white;
    top: 91.55vh;
    left: 30%;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    }

    #entScore p, #testScore p {
        margin: 0px;
        font-size: 0.9em;
    } 


#nextButton:hover, #prevButton:hover, #checkButton:hover{
    background-color: rgb(182, 226, 255);
}

#nextButton:active, #prevButton:active {
    transform: scale(0.95);
}

.complete {
    width: 20vw;
    padding: 20px 20px 10px 20px;
}

.endScore {
    margin-top: -2vh;
}